{% extends 'layout.html' %}

{% block title %}
    orm_abc_app:index-title
{% endblock %}

{% block content %}
    <h5>Курбанян Анна: Приложение 1 "Я и моя образовательная программа"</h5>
    <pre>
    Содержание приложения
    </pre>
    <pre>  
    1) Полученные данных из формы;
    2) Cохранение данных в таблице базы,
    3) Получение данных из таблицы базы, необходимые вычисления и представление данных и результатов решения в таблицеподобном виде,
    4) Отображение в таблицеподобном виде всех ранее введенных данных
    5) Фильтрация и сортировка данных из таблицы
    6) Представление в агрегированном виде статистики по одному из полей таблицы
    </pre>
    <pre>
    ! Все страницы приложения объединить единой навигнацией
    </pre>
    <pre>
     Данные админа:
     http://127.0.0.1:8000/admin/    root root
    </pre>
{% endblock %}

