<ul class="nav">
    <li class="nav-item"><a class="nav-link" href="{% url 'orm_abc_app:index' %}">Начальная страница</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'orm_abc_app:datetime_nov' %}">Смотреть текущую дату и время</a>
    <li class="nav-item"><a class="nav-link" href="{% url 'orm_abc_app:var_list_dict' %}">Мои курсы</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'orm_abc_app:abc_form' %}">Классическая форма для задачки</a></li>
    {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'orm_abc_app:abc_get' %}">orm_abc_app:abc_get</a></li> {% endcomment %}
    <li class="nav-item"><a class="nav-link" href="{% url 'orm_abc_app:abc_model_form' %}">Модельная форма для задачки</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'orm_abc_app:abc_tweaks_form' %}">"Tweaks" - форма для задачки</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'orm_abc_app:abc_result' %}">Результаты решения задачки в таблицеподобном виде</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'orm_abc_app:table' %}">Общая таблица с фильтрацией, сортировкой и статистикой</a></li>
</ul>
